log
data
data2
data3
data4
combined_dataset
combined_dataset_4
combined_dataset_f
combined_dataset3
combined_dataset2
custom_dataset
runs
.venv
bytetrack_results
ftvsd6.pt
visdrone_pretrain.pt
task.pdf
paper_ref.pdf
*.zip
zero_shot_examples
reid_data
raw_ds_results
original_yolo_format
no_track_dataset
deepsort_results
yolo_ft_visdrone_6/weights
yolo_val_visdrone_6/weights